$container-width: 1240px;
$text-color-blue: #709FDC;
$text-color-banner-blue: #B9D5FD;
$text-color-black: #071739;
$text-color-black-additional: #1E1A2B;
$text-color-grey: #BEBEBE;
$text-color-background-blue: #B9D5FD;
$text-color-placeholder-gray: #A8ABA7;
$text-color-invalid-input-message: #f62727;

$modal-input-padding: 17px 20px;
